#category-buttons {
	margin-bottom: 30px;
	margin-top: 30px;
}

.jumbotron {
	background-image: url('../images/lathe-thin.jpeg');
	background-size: cover;
	color: #FFF;
}

.btn-lg {
	background-color: #166088;
	color: #FFF;
	margin: 5px;
}

.clear-filter {
	background-color: #88A0A8;
}

#main-header {
	font-size: 6em;
}

#stripe {
	background-color: black;
	height: 100px;
	width: 100%;
	opacity: 0.5;
}

#map { 
	position: absolute; 
	top: 0; 
	bottom: 0; 
	max-width: 400px;
	max-height: 300px;
}

#add-new {
	background-color: #8CBA80;
	float: right;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	text-align: center;
	position: fixed;
	margin-left: 50px;
	font-weight: bold;
	font-size: 11pt;
}

#sign-up-reminder {
	margin-top: 10px;
	margin-left: 10px;
}

#add-contact-button {
	margin-top: 15px;
}

fieldset {
	margin-top: 20px;
}

