#category-buttons {
	margin-bottom: 30px;
	margin-top: 30px;
}

.jumbotron {
	background-image: url('../images/lathe-thin.jpeg');
	background-size: cover;
	color: #FFF;
}

.btn-lg {
	background-color: #546A76;
	color: #FFF;
}

.clear-filter {
	background-color: #88A0A8;
}

#main-header {
	font-size: 6em;
}

#stripe {
	background-color: black;
	height: 100px;
	width: 100%;
	opacity: 0.5;
}


